* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcd2d8;
    margin: 0;
    padding: 0;
}



/* 字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

@font-face {
    font-family: 粉圓體;
    src: url('../font/jf-openhuninn-1.1.woff');
}



#tabs {
    box-sizing: border-box;
    font-family: '粉圓體', 'Noto Sans TC', sans-serif, '微軟正黑體';
    color: #3e3a39;
    font-weight: normal;
}

#tabs .tabs_title {
    margin: 0 auto;
    background-color: #2da7e0;
    box-shadow: inset -2px -2px rgba(255, 255, 255, 0.4);
}

#tabs .tabs_title ul {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

#tabs .tabs_title ul li {
    list-style: none;
    width: 25%;
    height: 100%;
    padding: 2% 0;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid white;
}

#tabs .tabs_title ul li a {
    text-decoration: none;
    color: white;
}

#tabs .tabs_title ul li:hover {
    background-color: white;
    cursor: pointer;
}

#tabs .tabs_title ul li:hover a {
    background-color: white;
    color: #2da7e0;
}

#tabs .tabs_title ul .active {
    background-color: white;
}

#tabs .tabs_title ul .active a {
    color: #2da7e0;
}

#tab01,
#tab02,
#tab03,
#tab04 {
    padding: 0 4%;
}

.footer {
    background-color: #2da7e0;
    text-align: center;
    margin: 0 auto;
    padding: 0.5%;
}

.footer p {
    font-family: 粉圓體;
    color: white;
    font-size: 0.75rem;
    letter-spacing: 2px;
}



@media (max-width:768px){
    #tabs .tabs_title ul li {
        padding: 4% 0;
    }
}

@media (max-width:500px){
    #tabs .tabs_title ul {
        display: block;
    }
    #tabs .tabs_title ul li {
        width: 100%;
    }
} 